html {
    height: 100%;
}

body {
    background-color: darkslategray;
    background-image: url(images/IMG_20230302_140327.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


