html {
    height: 100%;
}

body {
    background-color: darkslategray;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.39);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color: rgba(0, 0, 0, 0.39);
    height: 100px;
}

h1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    font-family: sans-serif;
    color: #00ffbf;
    text-decoration: none;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -6px;
    width: 95%;
    height: 3px;
    background: #00e1ff;
    border-radius: 1px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

footer p {
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

main a {
    text-decoration: none;
    padding-top: 100%;
}

/* Media queries for mobile devices */
@media (max-width: 767px) {
    .container {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    header {
        height: 80px;
    }

    nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    main {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    .navigation a {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* Media queries for desktop devices */
@media (min-width: 768px) {
    /* Modify the styles as per your requirements */
}

