html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkslategray;
    background-image: url(images/IMG_20230302_140327.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 20px;
    box-sizing: border-box;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.39);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    text-align: center;
    padding: 80px;
}

footer {
    background-color: rgba(0, 0, 0, 0.39);
    height: 100px;
    text-align: center;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 24px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    font-family: sans-serif;
    color: #00e1ff;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #00e1ff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

footer p {
    font-size: 20px;
}

main a {
    text-decoration: none;
    padding-top: 100%;
}
