html {
    height: 100%;
}

body {
    background-color: darkslategray;
    background-image: url(images/IMG_20230302_140327.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.39);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color: rgba(0, 0, 0, 0.39);
    height: 100px;
}

h1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

footer p {
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255)55, 255, 255);

}

main a {
    text-decoration: none;
    padding-top: 100%;
}

